<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      Madmin: <%= Rails.application.class %>
    </title>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@tailwindcss/forms/dist/forms.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@tailwindcss/typography/dist/typography.min.css" rel="stylesheet" />
    <%= csrf_meta_tags %>

    <%= render "javascript" %>
  </head>
  <body>
    <div class="grid grid-cols-3 md:grid-cols-10 gap-8">
      <aside id="sidebar" class="flex flex-shrink-0 md:inline-grid col-span-1 md:col-span-2 h-screen min-h-full bg-gray-100 p-6 border-r overflow-scroll">
        <%= render "navigation" -%>
      </aside>
      <main class="col-span-2 md:col-span-8 pl-2 pr-8 py-10" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
